[submodule "lib/stm32f4xx-hal-driver"]
	path = lib/stm32f4xx-hal-driver
	url = https://github.com/STMicroelectronics/stm32f4xx-hal-driver.git
[submodule "docs/stm32_digital_potentiometer_pcb"]
	path = docs/stm32_digital_potentiometer_pcb
	url = https://github.com/ikok07/stm32_digital_potentiometer_pcb.git
